{% extends 'base.html' %}
{% block title %}Expenses{% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/expenses.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="h3">Expense List</h1>
        <a href="{% url 'create_expense' %}" class="btn btn-primary">Add Expense</a>
    </div>

    <p class="lead">Total amount spent: {{ total_amount }}</p>

    <div class="table-responsive">
        <table id="expenses-table" class="table table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                    <tr>
                        <td>{{ expense.name }}</td>
                        <td>{{ expense.amount }}</td>
                        <td>{{ expense.category.name }}</td>
                        <td>{{ expense.date }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a href="{% url 'update_expense' expense.id %}" class="btn btn-sm btn-warning">Edit</a>
                                <a href="{% url 'delete_expense' expense.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function() {
        $('#expenses-table').DataTable({
        "order": [[ 3, "desc" ]],
            "columnDefs": [
                { "orderable": false, "targets": 4 },
                { "searchable": false, "targets": 4 },
            ]
        });
    });
</script>

{% endblock %}
